* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
i,
svg {
  cursor: pointer;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 450px;
  width: 100%;
  position: relative;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

.new-tweet-container {
  background-color: #1da1f3;
  border-radius: 1000px;
  min-height: 53px;
  min-width: 53px;
  max-height: 53px;
  max-width: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 70px;
  right: 5%;
}

.new-tweet-container .new-tweet {
  fill: white;
  width: 20px;
}

.write-tweet-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
  /* display: none; */
}

.write-tweet-container .write-tweet-header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}

.write-tweet-container .write-tweet-header .left-arrow {
  width: 19px;
  fill: #526470;
}

.write-tweet-container .write-tweet-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.write-tweet-container .drafts {
  color: #1da1f3;
  font-weight: bold;
  font-size: 15px;
}

.write-tweet-container .write-tweet-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.write-tweet-container .write-tweet-right {
  width: 100%;
  margin-left: 10px;
}

.write-tweet-container textarea {
  resize: none;
  height: 118px;
  max-height: 144px;
  width: 100%;
  border: 0;
  font-size: 16px;
}

.write-tweet-container textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.write-tweet-container .write-tweet-icon-container {
  padding-top: 18px;
  border-top: solid 1px #f2f2f2;
}

.write-tweet-container .write-tweet-icon-container .write-tweet-icon {
  width: 19px;
  margin-right: 12px;
  fill: #1da1f3;
}

.write-tweet-container .send-tweet {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 12px;
  background-color: #1da1f3;
  opacity: 0.5;
  border-radius: 1000px;
  border: 0;
  color: white;
  font-weight: bold;
}

.write-tweet-container .reply-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1000px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 12px;
  border: 0;
  color: #1da1f3;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.write-tweet-container .reply-setting:hover {
  background-color: #f2f2f2;
}

.write-tweet-container .reply-setting .globe {
  width: 16px;
  margin-right: 5px;
  fill: #1da1f3;
}

/* Main Avatar*/
.main-avatar {
  border-radius: 1000px;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;
}

/* Avatar Tweet */
.tweet-avatar {
  border-radius: 1000px;
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
}

/* Header */
.feed-header {
  z-index: 5;
  height: 45px;
  width: 100%;
  max-width: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0f1419;
  border-bottom: solid 1px #d8dadb;
}

.feed-header .header-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.page {
  margin-left: 20px;
  font-size: 15px;
}

.stars {
  width: 25px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left .page {
  margin-left: 30px;
  font-weight: bold;
}

/* Feed */
.feed {
  max-width: 100%;
}

/* Nav */
nav {
  height: 55px;
  width: 100%;
  max-width: 450px;
  background-color: white;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #d8dadb;
}

.nav-icon {
  width: 25px;
}

.nav-wrap {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Tweet Boilerplate */
.tweet-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: solid 1px #f1f1f1;
}

.tweet-container-right {
  width: 100%;
  margin-left: 10px;
}

.tweet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.user-info .tweet-name {
  font-size: 15px;
  margin-right: 3px;
  color: #0f1419;
}

.user-info .tweet-username {
  font-size: 15px;
  color: #526470;
}

.user-info .middle-dot {
  margin-left: 3px;
  margin-right: 3px;
}

.user-info .time {
  font-size: 15px;
  color: #526470;
}

.tweet-text {
  font-size: 0.8em;
}

.verified-tick {
  margin-right: 3px;
}

.dots-popup-container {
  position: relative;
}

.dots-popup-container .dots {
  width: 18px;
  fill: #526470;
}

.dots-popup-container .popup {
  background-color: white;
  /*position: absolute;
    right: 0;
    top: 0;*/
  width: 250px;
  display: none;
  /*height: 0px;*/
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
  padding-top: 14px;
}

.dots-popup-container .popup .popup-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.dots-popup-container .popup .popup-option p {
  color: #526470;
}

.dots-popup-container .popup .popup-option .popup-icon {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  fill: #526470;
}

.rollout {
  height: auto;
}

.tweet-icon {
  width: 17px;
  fill: #526470;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.icon-number-wrap {
  display: table-cell;
  color: #526470;
}

.icon-number-wrap svg {
  vertical-align: middle;
  margin-right: 6px;
}

.icon-number-wrap .number {
  vertical-align: middle;
}

.tweet-link,
.tweet-hashtag {
  color: #1da1f3;
  cursor: pointer;
}

/* Warning */
.warning-container .warning {
  max-width: 100%;
  background-color: #f6f7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 1px #d8dadb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 12px;
}

.warning-container .warning p {
  font-size: 15px;
  color: #526470;
}

.warning-container .warning .change-settings {
  color: #1da1f3;
}

.warning-container .warning .view {
  color: #526470;
  margin-left: 10px;
  font-weight: bold;
}

.warning-container .flagged-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warning-container .flagged-container i {
  margin-right: 8px;
  font-size: 14px;
  color: #c2c4c5;
}

.warning-container .flagged-container p {
  color: #c2c4c5;
  font-size: 0.8em;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1s;
          animation: heartbeat 1s;
  fill: #e02540;
}

.is-retweeted {
  fill: #1acf83;
}
/*# sourceMappingURL=style.css.map */