* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
i,
svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1da1f3;
}

.hashtag, .mention {
  color: #1da1f3;
}

body, html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.app {
  max-width: 450px;
  width: 100%;
  position: relative;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

.new-tweet-container {
  background-color: #1da1f3;
  border-radius: 1000px;
  min-height: 53px;
  min-width: 53px;
  max-height: 53px;
  max-width: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 68px;
  right: 3%;
  -webkit-box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.new-tweet-container .new-tweet {
  fill: white;
  width: 20px;
}

.write-tweet-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 5000;
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
  /* display: none; */
}

.write-tweet-container .write-tweet-header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}

.write-tweet-container .write-tweet-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.write-tweet-container .drafts {
  color: #1da1f3;
  font-weight: bold;
  font-size: 13px;
}

.write-tweet-container .write-tweet-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.write-tweet-container .write-tweet-right {
  width: 100%;
  margin-left: 10px;
}

.write-tweet-container textarea {
  resize: none;
  height: 118px;
  max-height: 144px;
  width: 100%;
  border: 0;
  font-size: 16px;
}

.write-tweet-container textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.write-tweet-container .write-tweet-icon-container {
  padding-top: 18px;
  border-top: solid 1px #f2f2f2;
}

.write-tweet-container .write-tweet-icon-container .write-tweet-icon {
  width: 19px;
  margin-right: 12px;
  fill: #1da1f3;
}

.write-tweet-container .send-tweet {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 12px;
  background-color: #1da1f3;
  opacity: 0.5;
  border-radius: 1000px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.write-tweet-container .reply-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1000px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 12px;
  border: 0;
  color: #1da1f3;
  font-weight: bold;
  font-size: 13px;
  background-color: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.write-tweet-container .reply-setting:hover {
  background-color: #f2f2f2;
}

.write-tweet-container .reply-setting .globe {
  width: 16px;
  margin-right: 5px;
  fill: #1da1f3;
}

.write-tweet-container i {
  margin-right: 5px;
}

.reply-spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Main Avatar*/
.main-avatar {
  border-radius: 1000px;
  max-width: 35px;
  min-width: 35px;
  min-height: 35px;
  max-height: 35px;
}

/* Avatar Tweet */
.tweet-avatar {
  border-radius: 1000px;
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
}

/* Header */
.header-spaces-wrap {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.feed-header {
  z-index: 5;
  max-width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0f1419;
}

.feed-header .header-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page {
  margin-left: 20px;
  font-size: 15px;
}

.stars {
  width: 25px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left .page {
  margin-left: 30px;
  font-weight: bold;
}

.spaces-wrap {
  text-align: center;
  margin-bottom: 6px;
  margin-right: 10px;
}

.spaces-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  position: relative;
  top: -1px;
  overflow-x: scroll;
  background: white;
  z-index: 4000;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.spaces-container::-webkit-scrollbar {
  display: none;
}

.spaces-container .user-space-container {
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#4a48eb), color-stop(35%, #5e50e9), to(#885de9));
  background: linear-gradient(90deg, #4a48eb 0%, #5e50e9 35%, #885de9 100%);
  padding: 5px;
  position: relative;
  -webkit-transform: scale(0.95) !important;
          transform: scale(0.95) !important;
}

.spaces-container .user {
  height: 50px;
  width: 50px;
  border-radius: 500px;
  border: solid 3px white;
  background-position: center;
  background-size: cover;
  position: relative;
  right: 10px;
}

.spaces-container .user:nth-child(1) {
  position: static;
}

.spaces-container .space-1 .user-1 {
  background-color: white;
  background-image: url("images/memoji-1.png");
}

.spaces-container .space-1 .user-2 {
  background-color: white;
  background-image: url("images/black-man.jpg");
}

.spaces-container .space-2 .user-1 {
  background-color: white;
  background-image: url("images/bdigital.jpg");
}

.spaces-container .space-2 .user-2 {
  background-image: url("images/reji.jpg");
}

.spaces-container .space-2 .user-3 {
  background-image: url("images/willz.jpg");
  right: 20px;
}

.spaces-container .space-2 .space-number {
  right: 15px;
}

.spaces-container .space-3 .user-1 {
  background-image: url("images/destiny.jpg");
}

.spaces-container .space-3 .space-number {
  right: 0;
}

.spaces-container .space-number {
  color: white;
  font-weight: bold;
  position: relative;
  right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.spaces-container .space-title {
  margin-top: 6px;
  font-size: 13px;
}

.flash-1-container {
  background-color: #5947fd;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: flash-1 1.5s linear infinite;
          animation: flash-1 1.5s linear infinite;
}

.flash-2-container {
  background-color: #5947fd;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  padding: 0.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: flash-1 1.5s linear infinite;
          animation: flash-1 1.5s linear infinite;
}

@-webkit-keyframes flash-1 {
  0% {
    background-color: rgba(89, 71, 253, 0.5);
  }
  25% {
    background-color: rgba(89, 71, 253, 0.3);
  }
  50% {
    background-color: rgba(89, 71, 253, 0.25);
  }
  100% {
    background-color: rgba(89, 71, 253, 0);
  }
}

@keyframes flash-1 {
  0% {
    background-color: rgba(89, 71, 253, 0.5);
  }
  25% {
    background-color: rgba(89, 71, 253, 0.3);
  }
  50% {
    background-color: rgba(89, 71, 253, 0.25);
  }
  100% {
    background-color: rgba(89, 71, 253, 0);
  }
}

/* Feed */
.feed {
  max-width: 100%;
}

/* Nav */
.nav-pusher {
  height: 55px;
}

nav {
  height: 55px;
  width: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 1px #d8dadb;
}

.nav-icon {
  width: 25px;
}

.nav-wrap {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Tweet Boilerplate */
.tweet-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: solid 1px #f1f1f1;
  z-index: -1;
}

.tweet-container-right {
  width: 100%;
  margin-left: 10px;
}

.tweet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info .tweet-name {
  font-size: 15px;
  margin-right: 3px;
  color: #0f1419;
}

.user-info .tweet-username {
  font-size: 15px;
  color: #526470;
}

.user-info .middle-dot {
  margin-left: 3px;
  margin-right: 3px;
}

.user-info .time {
  font-size: 15px;
  color: #526470;
}

.tweet-text {
  font-size: 0.8em;
}

.verified-tick {
  margin-right: 3px;
}

.dots-popup-container {
  position: relative;
}

.dots-popup-container .dot-wrap {
  position: relative;
}

.dots-popup-container .dots {
  width: 18px;
  fill: #bdc9cf;
}

.dots-popup-container .popup {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  display: none;
  /*height: 0px;*/
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5px 4px 0 rgba(0, 0, 0, 0.2);
  padding-top: 14px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.dots-popup-container .popup .popup-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.dots-popup-container .popup .popup-option p {
  color: #526470;
}

.dots-popup-container .popup .popup-option .popup-icon {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  fill: #526470;
  color: #526470;
}

.rollout {
  height: auto;
}

.tweet-icon {
  width: 17px;
  fill: #526470;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.icon-number-wrap {
  display: table-cell;
  color: #526470;
  margin-right: 35px;
}

.icon-number-wrap svg {
  vertical-align: middle;
  margin-right: 6px;
}

.icon-number-wrap .number {
  vertical-align: middle;
}

.tweet-link,
.tweet-hashtag {
  color: #1da1f3;
  cursor: pointer;
}

/* Warning */
.flagged-as-container {
  display: none;
}

.warning-container .warning, .flagged-as-container .warning {
  max-width: 100%;
  background-color: #f6f7f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid 1px #d8dadb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 12px;
}

.warning-container .warning p, .flagged-as-container .warning p {
  font-size: 15px;
  color: #526470;
}

.warning-container .warning .change-settings, .flagged-as-container .warning .change-settings {
  color: #1da1f3;
}

.warning-container .warning .view, .flagged-as-container .warning .view {
  color: #526470;
  margin-left: 10px;
  font-weight: bold;
}

.warning-container .flagged-container, .flagged-as-container .flagged-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warning-container .flagged-container i, .flagged-as-container .flagged-container i {
  margin-right: 8px;
  font-size: 14px;
  color: #c2c4c5;
}

.warning-container .flagged-container p, .flagged-as-container .flagged-container p {
  color: #c2c4c5;
  font-size: 0.8em;
}

.revealed-tweet-container {
  display: none;
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.revealed-tweet-container p {
  margin-bottom: 5px;
}

.revealed-tweet-container .tweet-image-container {
  width: 100%;
}

.revealed-tweet-container .tweet-image-container img {
  width: 100%;
  border-radius: 10px;
}

.revealed-tweet-others {
  display: block !important;
  opacity: 1;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1s;
          animation: heartbeat 1s;
  fill: #e02540;
}

.is-retweeted {
  fill: #1acf83;
}
/*# sourceMappingURL=style.css.map */